<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="assignment.rssviewer"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:name=".service.RssApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.FeedListActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.CollectionActivity"
			android:label="@string/title_activity_collection"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.CategoryActivity"
			android:label="@string/title_activity_category">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.CollectionActivity"/>
		</activity>
	</application>

</manifest>
