<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assignment.rssviewer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".service.RssApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CategoryActivity"
            android:label="@string/title_activity_category"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EditSourceActivity"
            android:label="@string/title_activity_edit_source"
            android:parentActivityName=".activity.CategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CategoryActivity" />
        </activity>
        <activity
            android:name=".activity.AddSourceActivity"
            android:label="@string/title_activity_add_source"
            android:parentActivityName=".activity.CategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CategoryActivity" />
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".activity.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
    </application>

</manifest>
